*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html

phpmyadmin/
postfixadmin/
application/cache/*
application/config/database.php
application/config/config.php
application/config/recaptcha.php
info.php