sudo: false

language: node_js
node_js:
  - "9"

cache:
  directories:
    - node_modules

script:
  - make

deploy:
  skip_cleanup: true
  provider: script
  script: bash deploy.sh
  on:
    branch: master

addons:
  apt:
    update: true
